<div class="notice-label">
  email: </br> </br>
</div>


<div class="notice-form">
<%= simple_form_for @user do |f| %>
	<%= f.input :email, label_method: :email %> <br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>

