<! DOCTYPE html >
<html>

<head>
    <style>

    body {
        /*background: url('/assets/lightningstrike.jpg');*/
        background-color: #365ebf;
        background-attachment: fixed;
    }

    </style>

</head>
<body> 

<script src="jquery-1.7.1.min.js"></script>
<script src="jquery.masonry.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
<script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>


</br>

<h1 id="title" style="color:"> phill's life </h1>


<!-- disabling upload for now -->
<h2 class="uploadImage"><% link_to 'upload', new_picture_path %></h2>


<!-- <div id="container"> -->
    <div id="pictures">
      <%= render 'pictures' %>
    </div>
<!-- </div> -->

<%= will_paginate @pictures %>


</br>
</br>
</br>


</body>

</html>


