<!DOCTYPE html>
<html>

<head>

    <style>

    table {
        margin:0.5%;
        margin-right: 0.5%;
        max-width: 100%;
    }

    td {
        padding: 3px;
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }

    h2 {
        color: #0085ca;
    }


    </style>

</head>

<body> 

<h1> phills life </h1>


<div class="background_image">
    <img src="http://s3.amazonaws.com/phillslife-assets/pictures/images/000/000/002/original/Nantucket_Pan.JPG?1417479373" alt="Nantucket" style="width:100%;height:400px;">
</div>



<div class="firstPost">
	<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/170106476&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>


<h2 class="uploadImage"><%= link_to 'upload image / gif', new_picture_path %></h2>

<table>
    <tr>
        <td>
            <a href="/assets/lake.jpg" data-lightbox="lake"> 
                <img src="/assets/lake.jpg" alt="Lake" width="615" height="350">
            </a>
        </td>
        <td>
            <a href="/assets/mtgongga.jpg" data-lightbox="lake"> 
                <img src="/assets/mtgongga.jpg" alt="Mt Gongga" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/assets/mtgenie.jpg" data-lightbox="Mt Genie">  
                <img src="/assets/mtgenie.jpg" alt="Mt Genie" width="615" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/icelandvolcano.jpg" data-lightbox="Iceland Volcano">
                <img src="/assets/icelandvolcano.jpg" alt="Iceland Volcano" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/assets/india.jpg" data-lightbox="India">
                <img src="/assets/india.jpg" alt="India" width="615" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/craterlakeoregon.jpeg" data-lightbox="Crater Lake"> 
                <img src="/assets/craterlakeoregon.jpeg" alt="Crater Lake Oregon" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/assets/pakistan3.jpg" data-lightbox="Pakistan"> 
                <img src="/assets/pakistan3.jpg" alt="Pakistan Mountains" width="615" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/pakistan1.jpg" data-lightbox="Pakistan"> 
                <img src="/assets/pakistan1.jpg" alt="Pakistan View" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/assets/pakistan2.jpg" data-lightbox="Pakistan"> 
                <img src="/assets/pakistan2.jpg" alt="Pakistan River and Mountains" width="615" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/NewZealand.jpg" data-lightbox="New Zealand"> 
                <img src="/assets/NewZealand.jpg" alt="New Zealand Ocean" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/assets/italy.jpg" data-lightbox="Italy"> 
                <img src="/assets/italy.jpg" alt="Italy Countryside" width="615" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/londonn.jpg" data-lightbox="London"> 
                <img src="/assets/londonn.jpg" alt="London Night" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/assets/mz.jpg" data-lightbox="MZ"> 
                <img src="/assets/mz.jpg" alt="MZ" width="615" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/hawaii.jpg" data-lightbox="Hawaii"> 
                <img src="/assets/hawaii.jpg" alt="Hawaii" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <div class="verticalPic">
        <td>
            <a href="/assets/3dart.jpg" data-lightbox="3DArt"> 
                <img src="/assets/3dart.jpg" alt="3D Art" width="615" height="750" >
            </a>
        </td>
        <td>
            <a href="/assets/irone throne.jpg" data-lightbox="Iron Throne"> 
                <img src="/assets/irone throne.jpg" alt="Iron Throne" width="615" height="750" >
            </a>
        </td> </div>
    </tr>
    <tr>
        <td>
            <a href="/assets/iceland1.jpg" data-lightbox="Iceland"> 
                <img src="/assets/iceland1.jpg" alt="Iceland Glaciers" width="615" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/scotland.jpg" data-lightbox="Scotland"> 
                <img src="/assets/scotland.jpg" alt="Scotland" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/assets/kuala.jpg" data-lightbox="Kuala Lampur"> 
                <img src="/assets/kuala.jpg" alt="Kuala Lampur" width="625" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/Durdle-Door-sunrise.jpg" data-lightbox="Durdle Door Sunrise"> 
                <img src="/assets/Durdle-Door-sunrise.jpg" alt="Durdle Door Sunrise" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/assets/rockswater.jpg" data-lightbox="Rocky Ocean"> 
                <img src="/assets/rockswater.jpg" alt="Rocky Ocean" width="615" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/coolhighway.jpg" data-lightbox="Cool Highway"> 
                <img src="/assets/coolhighway.jpg" alt="Highway Architecture" width="615" height="350" >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/assets/fallenwolf.jpg" data-lightbox="Wolf"> 
                <img src="/assets/fallenwolf.jpg" alt="Wolf" width="615" height="350" >
            </a>
        </td>
        <td>
            <a href="/assets/frenchalps.jpg" data-lightbox="French Alps"> 
                <img src="/assets/frenchalps.jpg" alt="French Alps" width="615" height="350" >
            </a>
        </td>
    </tr>
</table>


</body>

</html>


