<!-- Main page: Uses masonry to dynamically layout the images/videos/songs -->

<head>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
	<script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
    <style>

    .fancybox {
    	display:none;
    }

    h1 {
	    color: #365ebf;
    }
    </style>
</head>

<body> 
</br>

<h1 id="title" style="color:"> phill's life </h1>
<h2><%= link_to 'upload', new_picture_path %></h2>

<div id="container-fluid">

	<!-- Use rails gem will_paginate to implemenet pagination / infinite scroll -->
	<!-- Rendering the _pictures.html.erb template -->
	<div id="pictures">
		<div id="picture-container" data-masonry-options='{ "itemSelector": ".fancybox", "columnWidth": 320 }'>
			  <%= render 'pictures' %>
		</div>
	</div>
<%= will_paginate @pictures %>

</div>
<!-- Masonry Layout -->
<script>
	$(document).ready(function() {
	    var $container = $('#picture-container');
	    $container.imagesLoaded( function() {
	    	$container.isotope({ itemSelector: '.fancybox', sortBy: 'original-order' })
		    $container.masonry({
			    // options
			  	itemSelector: '.fancybox',
		    	columnWidth: 320

			});
			$container.isotope({
				// options...
				itemSelector: '.fancybox',
				sortBy: 'original-order',
				masonry: {
					columnWidth: 320
				}
			});
		});
	});

</script>

</body>