<head>
    <style>
    body {
        background-color: #365ebf;
        background-attachment: fixed;
    }

    .fancybox {
    	display:none;
    }

    </style>
</head>

<body> 
</br>

<h1 id="title" style="color:"> phill's life </h1>
<h2 class="uploadImage"><%= link_to 'upload', new_picture_path %></h2>


<div id="pictures">
  <%= render 'pictures' %>
</div>
<%= will_paginate @pictures %>

<script>

	// $(document).ready(function() {
	//     var $container = $('#pictures');
	//     $container.imagesLoaded( function() {
	// 	    $container.masonry({
	// 		    // options
	// 		  	itemSelector: '.fancybox',
	// 	    	columnWidth: 320
	// 		});
	// 	});
	// });

</script>

</body>