<head>
    <style>

    body {
        /*background: url('/assets/lightningstrike.jpg');*/
        background-color: #365ebf;
        background-attachment: fixed;
    }

    #picture-container {
/*        border: 3px solid orange;
        margin: 4em;*/
    }

    </style>

</head>
<body> 

</br>

<h1 id="title" style="color:"> phill's life </h1>


<!-- disabling upload for now -->
<h2 class="uploadImage"><% link_to 'upload', new_picture_path %></h2>


<div id="pictures">
  <%= render 'pictures' %>
</div>

<%= will_paginate @pictures %>



<script>

$(document).ready(function() {

    var $container = $('#pictures');
    $container.imagesLoaded( function() {
        $container.masonry({
            itemSelector: '.fancybox'
        });

        $container.masonry('reloadItems');
    });

    // jQuery(function() {
    //     $("a.fancybox").fancybox();
    // });
})


function reload_masonry() {
    $('#picture-container').masonry( 'reloadItems' );
    var $boxes = $('<div class="fancybox">helloooo</div><div class="box"/><div class="box"/>');
    $('#picture-container').prepend( $boxes ).masonry( 'reloadItems' );

    // // layout Masonry again after all images have loaded
    // var $container = $('#picture-container').masonry();
    // var msnry;
    // $container.imagesLoaded( function(){
    // msnry = new Masonry( container, {
    // itemSelector : '.fancybox',

}


</script>


</body>