<!DOCTYPE html>
<html>

<head>

    <style>

    img {
        max-width: 100%;
    }
    
    </style>

</head>

<body> 

<h1> phills life </h1>


<div class="background_image">
    <img src="http://s3.amazonaws.com/phillslife-assets/pictures/images/000/000/002/original/Nantucket_Pan.JPG?1417479373" alt="Nantucket" style="width:100%;height:400px;">
</div>



<div class="firstPost">
	<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/170106476&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>


<h2 class="uploadImage"><%= link_to 'upload image / gif', new_picture_path %></h2>

<div class="pic-container">


        <a class="postImage" href="/assets/Durdle-Door-sunrise.jpg" data-lightbox="Durdle Door Sunrise"> 
            <img src="/assets/Durdle-Door-sunrise.jpg" alt="Durdle Door Sunrise" width="350" >
        </a>

        <a class="postImage" href="/assets/neat.gif" data-lightbox="neat"> 
            <img src="/assets/neat.gif" alt="neat" width="350" >
        </a>

        <a class="postImage" href="/assets/mtgongga.jpg" data-lightbox="lake"> 
            <img src="/assets/mtgongga.jpg" alt="Mt Gongga" width="350" >
        </a>

        <a class="postImage" href="/assets/3dgif.gif" data-lightbox="3dgif"> 
            <img src="/assets/3dgif.gif" alt="3dgif" width="350" >
        </a>

        <a class="postImage" href="/assets/mtgenie.jpg" data-lightbox="Mt Genie">  
            <img src="/assets/mtgenie.jpg" alt="Mt Genie" width="350" >
        </a>

        <a class="postImage" href="/assets/NewZealand.jpg" data-lightbox="New Zealand"> 
            <img src="/assets/NewZealand.jpg" alt="New Zealand Ocean" width="350" >
        </a>

        <a class="postImage" href="/assets/coolhighway.jpg" data-lightbox="Cool Highway"> 
            <img src="/assets/coolhighway.jpg" alt="Highway Architecture" width="350" >
        </a>

        <a class="postImage" href="/assets/bearcrawl.gif" data-lightbox="bearcrawl"> 
            <img src="/assets/bearcrawl.gif" alt="bearcrawl" width="350" >
        </a>

        <a class="postImage" href="/assets/frenchalps.jpg" data-lightbox="French Alps"> 
            <img src="/assets/frenchalps.jpg" alt="French Alps" width="350" >
        </a>

        <a class="postImage" href="/assets/watergif.gif" data-lightbox="watergif"> 
            <img src="/assets/watergif.gif" alt="watergif" width="350" >
        </a>

        <a class="postImage" href="/assets/italy.jpg" data-lightbox="Italy"> 
            <img src="/assets/italy.jpg" alt="Italy Countryside" width="350" >
        </a>

        <a class="postImage" href="/assets/coolneon.gif" data-lightbox="3dgif"> 
            <img src="/assets/coolneon.gif" alt="3dgif" width="350" >
        </a>        

        <a class="postImage" href="/assets/catgun.gif" data-lightbox="catgun"> 
            <img src="/assets/catgun.gif" alt="catgun" width="350" >
        </a>

        <% Picture.all.reverse.each do |pic| %>
            <a class="postImage" href=<%= %Q"#{pic.image.url}" %>>
                <img src=<%= %Q"#{pic.image.url}" %> alt= <% pic.title %> width="350" h>
            </a>
        <% end %>

        <a class="postImage" href="/assets/mz.jpg" data-lightbox="MZ"> 
            <img src="/assets/mz.jpg" alt="MZ" width="615" width="350" >
        </a>

        <a class="postImage" href="/assets/hawaii.jpg" data-lightbox="Hawaii"> 
            <img src="/assets/hawaii.jpg" alt="Hawaii" width="350" >
        </a>

        <a class="postImage" href="/assets/3dart.jpg" data-lightbox="3DArt"> 
            <img src="/assets/3dart.jpg" alt="3D Art" width="350" eight="550">
        </a>

        <a class="postImage" href="/assets/irone throne.jpg" data-lightbox="Iron Throne"> 
            <img src="/assets/irone throne.jpg" alt="Iron Throne" width="350" height="550" >
        </a>

        <a class="postImage" href="/assets/iceland1.jpg" data-lightbox="Iceland"> 
            <img src="/assets/iceland1.jpg" alt="Iceland Glaciers" width="350" >
        </a>

        <a class="postImage" href="/assets/scotland.jpg" data-lightbox="Scotland"> 
            <img src="/assets/scotland.jpg" alt="Scotland" width="350" >
        </a>

        <a class="postImage" href="/assets/kuala.jpg" data-lightbox="Kuala Lampur"> 
            <img src="/assets/kuala.jpg" alt="Kuala Lampur" width="350" >
        </a>

        <a class="postImage" href="/assets/alanprarie.gif" data-lightbox="alanprarie"> 
            <img src="/assets/alanprarie.gif" alt="alanprarie" width="350" >
        </a>

        <a class="postImage" href="/assets/rockswater.jpg" data-lightbox="Rocky Ocean"> 
            <img src="/assets/rockswater.jpg" alt="Rocky Ocean" width="350" >
        </a>

        <a class="postImage" href="/assets/fallenwolf.jpg" data-lightbox="Wolf"> 
            <img src="/assets/fallenwolf.jpg" alt="Wolf" width="350" height="550">
        </a>

        <a class="postImage" href="/assets/icelandvolcano.jpg" data-lightbox="Iceland Volcano">
            <img src="/assets/icelandvolcano.jpg" alt="Iceland Volcano" width="350" >
        </a>

        <a class="postImage" href="/assets/india.jpg" data-lightbox="India">
            <img src="/assets/india.jpg" alt="India" width="350" >
        </a>

        <a class="postImage" href="/assets/craterlakeoregon.jpeg" data-lightbox="Crater Lake"> 
            <img src="/assets/craterlakeoregon.jpeg" alt="Crater Lake Oregon" width="350" >
        </a>

        <a class="postImage" href="/assets/pakistan3.jpg" data-lightbox="Pakistan"> 
            <img src="/assets/pakistan3.jpg" alt="Pakistan Mountains" width="350" >
        </a>

        <a class="postImage" href="/assets/lake.jpg" data-lightbox="lake"> 
            <img src="/assets/lake.jpg" alt="Lake" width="350" >
        </a>

        <a class="postImage" href="/assets/pakistan1.jpg" data-lightbox="Pakistan"> 
            <img src="/assets/pakistan1.jpg" alt="Pakistan View" width="350" >
        </a>

        <a class="postImage" href="/assets/londonn.jpg" data-lightbox="London"> 
            <img src="/assets/londonn.jpg" alt="London Night" width="350" >
        </a>

        <a class="postImage" href="/assets/pakistan2.jpg" data-lightbox="Pakistan"> 
            <img src="/assets/pakistan2.jpg" alt="Pakistan River and Mountains" width="350" >
        </a>       

</div>

</body>

</html>


