<head>
    <style>
    body {
        /*background: url('/assets/lightningstrike.jpg');*/
        background-color: #365ebf;
        background-attachment: fixed;
    }

    </style>
</head>

<body> 
</br>

<h1 id="title" style="color:"> phill's life </h1>
<h2 class="uploadImage"><%= link_to 'upload', new_picture_path %></h2>


<div id="pictures">
  <%= render 'pictures' %>
</div>
<%= will_paginate @pictures %>


</body>