<!DOCTYPE html>
<html>

<head>

<style>


body {
	background: url('/assets/horizon.jpeg');
	background-attachment: fixed;
}

</style>

</head>

<body>

<!-- <h1>all timers</h1> -->

<div class="background_image">
    <!-- <img src="/assets/Nantucket_Pan.JPG" alt="Nantucket" style="width:100%;height:400px;"> -->
</div>

<!-- <p class="firstTextPost">
some of my all time favorite music
</p>
 -->
<br>

<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

<h1> chay vibes </h1>

<div class="about-wrapper">
	<table>
		<tr id="table-header">
			<th> track </th>
			<th> artist </th>
			<th> vibe </th>
		</tr>
		<% @song.reverse.each do |song| %>
			<% if song.approved %>
				<div class="item">
						<tr>
							<th> <%= song.title %></th>
							<th> <%= song.body %>  </th>
	<!-- 					<th> <% link_to 'listen', song_path(song) %> </th> -->
							<th> <%= link_to image_tag("glyphicons-77-headphones.png"), song_path(song) %> </th>
						</tr>
				</div>
			<% end %>
		<% end %>
	</table>
</div>


<hr>

</br>
</br>
</br>
</body>

</html>
