<!DOCTYPE html>
<html>

<head>

<style>

.background_image {
	/*border-bottom: solid;*/
	border-width: 3px;
	/*padding-bottom: 1px;*/
}


</style>
</head>

<body>

<h1>all timers</h1>

<div class="background_image">
    <img src="/assets/Nantucket_Pan.JPG" alt="Nantucket" style="width:100%;height:400px;">
</div>

<p class="firstTextPost">
some of my all time favorite music
</p>

<h2 class="h3link"><%= link_to 'current', songs_current_path %></h2>

<hr>

<% @song.reverse.each do |song| %>
		<div class="posts">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src=  <%= %Q"#{song.url}" %> ></iframe>
		</div>
		<br>
<% end %>

</br>
</br>
</br>
</body>

</html>
