<head>

<style>

body {
	background: url('/assets/colorado.jpg');
	/*background: url('/assets/nice.jpg');*/
	background-attachment: fixed;
}

</style>

</head>

<body>

<br>

<div class="pic-container">
	<div class="pic-show-container-test">
		<% if @song.vibeType=="2" %>
			<div class="pic"> 
                <iframe width="50%" height="350" scrolling="no" frameborder="no" src="<%= @song.getSrcSoundcloud.to_s %>" >
                </iframe> 
            </div>
        <% end %>
    </div>
</div>


</body>



