<!DOCTYPE html>
<html>


<body>

<h1>Essential</h1>
<h3> <%= link_to 'current', songs_current_path %> </h3>

<div class="background_image">
    <img src="/assets/Nantucket_Pan.JPG" alt="Nantucket" style="width:100%;height:400px;">
</div>



<div class="firstPost">
	<iframe width="100%" height="450" scrolling="no" frameborder="no" src=  <%= %Q"#{@song.url}" %> ></iframe>
</div>


 <%= link_to 'Delete', song_path(@song), method: :delete %> <br>


</br>
</br>
</br>

</body>
</html>