<!DOCTYPE html>
<html>

<head>

</head>

<body>

<h1> submitted posts </h1>

<div class="background_image">
    <img src="http://s3.amazonaws.com/phillslife-assets/pictures/images/000/000/002/original/Nantucket_Pan.JPG?1417479373" alt="Nantucket" style="width:100%;height:400px;">
</div>
<br>

<div class="pic-container">

	<% Picture.all.reverse.each do |pic| %>
	        <a class="postImage" href=<%= %Q"#{pic.image.url}" %>>
	            <img src=<%= %Q"#{pic.image.url}" %> alt= <% pic.title %> width="350" h>
	        </a>

	<% end %>

</div>