<!DOCTYPE html>
<html>

<head>

  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <link href="css/lightbox.css" rel="stylesheet" />

</head>

<body>

<h1> submitted posts </h1>

<div class="background_image">
    <img src="http://s3.amazonaws.com/phillslife-assets/pictures/images/000/000/002/original/Nantucket_Pan.JPG?1417479373" alt="Nantucket" style="width:100%;height:400px;">
</div>
<br>

<div class="pic-container">

	<% Picture.all.reverse.each do |pic| %>
	        <a class="postImage" href=<%= pic.image.url %> data-lightbox="Test">
	            <img src=<%= pic.image.url %> alt= <% pic.title %> width="350">
	        </a>
	<% end %>

</div>

</body>
</html>
