
<style>
	.pic-show-container {
		background-color: #cee2f8;
		z-index: -100;
		width: 100%;
	}

	.image-show {
		/*float: left;*/
		left: 33%;
		margin-left: 25%;
		z-index: 100;
		width: 33%;
	}

	#pic-words-beneath {
		margin-left: 50%;
	}

	.image-show img {	
		position: relative; 
		margin-top: 0%; 
		float: left;
		margin-left: 33%;
		margin-right: auto;
		height: 500px;
		box-shadow:2px 2px 2px #888888;
	}


	.pic-show-container-test {
	    position: relative;
	    width: 100%;
	}

/*			.dummy {
	    padding-top: 100%;
	}*/

	.pic {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
	}

	.pic img{
	    height: 400px;
	}

	#below-image {
		font-size: 14px;
		position: relative;
		display: block;
		margin-top: 500px;
	}


</style>

<body>

</br>
</br>
</br>

<div class="pic-show-container-test">
	<div class="pic">
		<%= image_tag @picture.image.url %> </br> 
	</div>
	<p id="below-image">
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
	    <%= link_to 'back', root_path %> 
		<% link_to 'delete', picture_path(@picture, :id => @picture.id), method: :delete %><br>
	</p>

</div>
</br>
</br>
</br>
</br>
</br>
