<!DOCTYPE html>
<html>

<head>

  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <link href="css/lightbox.css" rel="stylesheet" />

</head>

<br>

<body>

<div class="pic-container">

	<div class="postImage"> <%= image_tag @picture.image.url, width: 600 %> </div>

	<%= link_to 'edit', edit_picture_path(@picture) %> |
	<%= link_to 'back', pictures_path %> |
	<%= link_to 'delete', method: :delete %><br>

</div>

</body>
</html>