<!-- About Page -->
<head>
<style>
	.background_image {
		/*border-bottom: solid;*/
		border-width: 3px;
		/*padding-bottom: 1px;*/
	}

	body {
		background: url('/assets/icelandbeach.jpg');
		background-attachment: fixed;
	}

</style>
</head>

<body>

</br>

<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
<h1>phillip lisovicz</h1>
<hr>

<p class="about-wrapper"> 
good || vibes || only
</br></br>
<span class="signature">  made with rails  </span>

</br></br>
DevOps @eXelate

</br>
<span class="signature"> phillip.lisovicz@gmail.com </span>
</br>
</p>


</br>
</br>
</body>
</html>