<h1>phil lisovicz</h1>

<h3> i don't really like capital letters.. it' an idiosyncracy</h3>

<div class="background_image">
	<img src="/assets/Nantucket_Pan.JPG" alt="Nantucket" style="width:100%;height:400px">
</div>

<p> 
i made this site in ruby/rails to post everything that i find cool from pictures to articles to music. </br> </br>

i was born and raised in glen ridge, nj where i played football, basketball, and lacrosse until high school graduation. no matter what anyone says, high school football was probably the greatest experience of my life. i went to washington&lee university in lexington, va and absolutely loved it. i never knew how i would embrace the south and southern culture but i truly grew to love it. </br> </br>

i majored in computer science and business administration and took a job in analytics at investment technology group in nyc to combine the two. over the past year i've learned my interests truly lie in software development and entreprenuership. also music. i produce electronic music using ableton in my free time. </br> </br>

</p>