<!DOCTYPE html>
<html>
<head>

	<style>
	

	</style>

</head>

<body>

<h1>phillip lisovicz</h1>

<h3> 
  <id="cv"> <%= link_to 'cv', about_show_path %></>
</h3>

<div class="background_image">
    <img src="http://s3.amazonaws.com/phillslife-assets/pictures/images/000/000/002/original/Nantucket_Pan.JPG?1417479373" alt="Nantucket" style="width:100%;height:400px;">
</div>


<p class="pic-container"> 
i made this site using ruby on rails to post everything that i find cool from pictures to articles to music.
</br></br>
i was born and raised in glen ridge, nj and i graduated from washington&lee university in may 2013. i have degrees in both computer science and business administration from w&l, and i just finished a course in back end web development from a fantastic company called general assembly. i've been introduced to the tech community in nyc through general assembly and i couldn't be more excited to get involved. 
</br></br>
i love to surf, ski, and golf and i'm an avid new york jets fan (which is pretty unfortunate these days). i also produce music in my free time using ableton live. 
</br></br>
phillip.lisovicz@gmail.com
</br>
</p>

</body>
</html>