<! DOCTYPE html>
<html>
<head>

<style>

.background_image {
	/*border-bottom: solid;*/
	border-width: 3px;
	/*padding-bottom: 1px;*/
}


body {
	background: url('/assets/nice.jpeg');
	background-attachment: fixed;
}


</style>
</head>

<body>

</br>

<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>


<h1>phillip lisovicz</h1>

<!-- <div class="background_image">
    <img src="/assets/Nantucket_Pan.JPG" alt="Nantucket" style="width:100%;height:400px;">
</div> -->

<!-- <h2 class="h3link"><%= link_to 'cv', about_show_path %></h2> -->

<hr>


<p class="about-wrapper"> 
good || vibes || only
</br></br>
<span class="signature">  made with rails  </span>

</br></br>
DevOps @eXelate

</br>
<span class="signature"> phillip.lisovicz@gmail.com </span>
</br>
</p>


</br>
</br>
</body>
</html>