/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require lightbox
 *= require fancybox
*/


body {
	background-color: #cee2f8; 
	padding-bottom: 20px;
	border-bottom: 1px solid transparent;
	position: relative;
}

h1 {
	font-size: 70px;
	font-weight: 100;
	color: white;
	z-index: 1;
	font-family: 'Megrim', cursive;
	font-weight: 800;
	text-align: center;
}

h2 {
	font-family: 'Bad Script', cursive;
	font-weight: 100;
	font-size: 20px;
	color: #0085ca;
	text-transform: lowercase;
	left: 0;
	z-index: 1;
	text-align: center;
	width: 100%;
}


h3 {
	font-family: 'Bad Script', cursive;
	font-weight: 100;
	font-size: 25px;
	color: #0085ca;
	color: white;
	padding-top: 3%;
	text-align: center;
}

p {
	font-family: helvetica;
	font-weight: 100;
	text-align: center;
	color: rgb(90,90,90);
}

.firstPost {
	position: absolute;
	top: 265px;
	width: 100%;
	height: 90px;
	z-index: 1;
}

.firstTextPost {
	position: absolute;
	top: 265px;
	width: 100%;
	height: 90px;
	z-index: 1;
	color: white;
}

iframe {
	z-index: 1;
	padding: .5em;
}


.about-wrapper {

	/*border: 1px solid black;*/
	padding: 2em;
	width: 60%;
	/*margin-top: 5%;*/
	margin-left: 20%;
	margin-bottom: 5em;
    border: 1px solid ;
    border-color: rgb(90,90,90);
    box-shadow: 2px 2px 2px #888888;
    background-color: white;
}

h1 #currentSongH1{
	margin-top: 10px;
	margin-bottom: 10px;
}

.posts {
	padding-top: 2px;
	padding-bottom: 2px;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	z-index: 1;
	/*border: 1px solid black;*/
}


/*img:hover {
	opacity: 0.8;
}
*/
.gifs {
	width: 50%;
	display: inline;
	padding-left: 10%;
	max-width: 100%
}

.float-pair {
	display: inline;
	width: 10px;
	margin: 10px;
	margin-left: 20%;
}


.background_image {
	position: relative;
	/*left: -0.25;*/
}

#ppost {
	border: solid;
	border-width: 1px;
	padding: 1px;
	font-weight: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
  display: inline;
  /*padding: 2px;*/
  float: left;
}

.nav {
  display: block;
  width: 60px;
  /*font-family: helvetica;*/
  font-family: 'Open Sans Condensed', sans-serif;
  position: fixed;
  top: 0;
  left:0;
  /*border-bottom: solid;*/
  /*border-bottom-width: 1px;*/
  padding-left: 1%;
  /*border-color: rgb(90,90,90);*/

  list-style: none;
  margin-bottom: 10px;
  width: 100%;
  /*text-align: center;*/
  background-color: white;
  height:38px;
  vertical-align: center;
  z-index: 100;
  color: rgb(90,90,90);
  box-shadow: 2px 2px 2px #888888;
}

.nav #words {
  padding: 7px;
  color: rgb(90,90,90);
}

#words {
  color: rgb(90,90,90);
}

.nav #logo {
  display: block;
  /*padding-left: 14px;*/
  padding-top: 4px;
  /*height: 10px;*/
  text-decoration: none;
}

.nav #words:link {
  text-decoration: none;
  font-weight: 0;
  color: rgb(90,90,90);
}

.nav #words-right {
  padding: 7px;
  color: rgb(90,90,90);
  right: 0;
  position: fixed;
  padding-right: 1%;
}

.nav #words:visited {
  text-decoration: none;
  color: rgb(90,90,90);
  text-decoration: none;
}

#words:visited {
  color: rgb(90,90,90);
}

#words:link {
  color: rgb(90,90,90);
}

#words:active {
  color: rgb(90,90,90);
}

.nav #words:hover {
  opacity: 0.4;
  text-decoration: none;
}

.nav #words:active {
  color: rgb(90,90,90);
  text-decoration: none;
}

.nav #words:visited {
  color: rgb(90,90,90);
}

.nav #words:link {
  color: rgb(90,90,90);
}


a:link {
  text-decoration: none;
  font-weight: 0;
  color: rgb(90,90,90);
}

a:visited {
  text-decoration: none;
  color: rgb(90,90,90);
}

a:hover {
  opacity: 0.9;
}

a:active {
  color: rgb(90,90,90);
}

.uploadImage {
	color: white;
}

/*change back to img if can't fix*/
.postImage img {
	/*float: left;*/
	width: 30%;
	max-width: 100%;
	box-shadow:2px 2px 2px #888888;
	margin-left: 2%;
	background-color: #cee2f8;  
}

.pic-container {
	margin-left: 2%;
	margin-right: 2%;
	/*background-color: #cee2f8; */
	/*border: 1px solid black;*/
}

.pic-container .one-image {
	position: absolute;
	top: 100px;
	/*margin-left: 25%;*/
	background-color: #cee2f8; 
	max-width: 100%;
	/*box-shadow:2px 2px 2px #888888;*/
}

.cv {
	text-align: center;
	color: white;
}


footer {
	background-color: white;
	color: rgb(90,90,90);
	text-align: center;

	/*border-top: solid;*/
	/*border-width: 1px;*/
	/*border-color: rgb(90,90,90);*/
	display: inline;
	z-index: 100;
	font-family: helvetica;
	padding-left: 1%;

	width:100%;
	/*height:80px;*/
	position:absolute;
	bottom:-10;
	left:0;
	height: 30px;
	/*background:#ee5;*/
	margin-top: 20px;
	padding-bottom: 60px;
}

#footer-words {
	padding: 10px;
}

.user-sign-container {
	/*border: 1px solid gray;*/
	margin-left: 33%;
	margin-right: 33%;
	width: 33%;
	text-align: center;
	color:white;
	padding: 10px;
	position: absolute;
	top: 265px;
	height: 90px;
	z-index: 1;
}


.item img {
    width: 300px;
    padding: .5em;
}

.fancybox img {
    width: 300px;
    padding: .5em;
}

.fancybox {
    width: 300px;
    padding: .5em;
}

.mainForm {

    border: 1px solid ;
    border-color: rgb(90,90,90);
    box-shadow: 2px 2px 2px #888888;
    background-color: white;
    width: 95%;
    margin-top: 5em;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 3em;
    text-align: center;
}

.mainForm1 {

    border: 1px solid ;
    border-color: rgb(90,90,90);
    box-shadow: 2px 2px 2px #888888;
    background-color: white;
    margin-top: 5em;
    margin-bottom: 10em;
}

#container {
    padding: 2em;
    margin-bottom: 2em;
    border: 1px solid ;
    border-color: rgb(90,90,90);
    box-shadow: 2px 2px 2px #888888;
    background-color: white;
    margin-top: 5em;
    margin-bottom: 10em;
}

.pic-container {
	/*border: 1px solid gray;*/
	margin-bottom: 12em;
}

.pic-show-container-test {
    position: relative;
    width: 100%;
    /*border: 4px solid black;*/
    text-align: center;
}

.testerr {
	float: left;
	position: relative;
}

.pic {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.pic img{
    /*height: 400px;*/
    position: relative;
}


#below-image {
	font-size: 14px;
	position: relative;
	display: block;
	height: 100px;
    vertical-align: middle;
}

.approve-pic {
	margin-left: 4%;
	display: block;
	text-align: center;
	margin-left: 200px;
}

.upload-form {
	border: 1px solid gray;
	width: 33%;
	margin-left: 33%; 
	margin-bottom: 30%;
	padding: 1em;
	background-color: white;
	/*margin-top: 10%;*/
}


.approve-box {
	border: 1px solid gray;
	width: 33%;
	margin-left: 33%; 
	margin-top: 1%;
	background-color: white;
	padding: 1em;
	/*margin-bottom: 3em;*/
}

table {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	margin-bottom: 30%;
	/*border:1px solid black;*/
}

th {
	font-family: helvetica;
	font-weight: 100;
	width: 33%;
}

#table-header {
	font-size: 2.5em;
}

.signature {
	font-size: .7em;
}